{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/FluxHelmTool-win-x64/**",
            "label": "FluxHelmTool-win-x64"
          }
        ]
      }
    ]
  ]
}
