@page "/"
@using BlazorMonacoYaml

<AgnoInputFile OnFileChange="HandleSelection"  />
  <div class="form-group">
    <label for="exampleFormControlSelect1">Versions</label>
    <select class="form-control" id="exampleFormControlSelect1" @onchange="@(async (ChangeEventArgs x) => {selectedVersion = x.Value.ToString(); await GetRemoteChart();})">
        @foreach (var item in chartVersions)
        {
            <option>@item.Key</option>
        }
    </select>
  </div>
@*<button @onclick="GetChartVersions">GetChartVersions</button>

<button @onclick="GetRemoteChart">GetRemoteChart</button>*@

<div class="editorContent" style="height: 756px">
    <MonacoDiffEditorYaml @ref="_yamlDiffEditor"
                          Id="monacoDiffEditorYaml"
                          CssClass="editor"  />
</div>