@page "/"
@using BlazorMonacoYaml

<AgnoInputFile OnFileChange="HandleSelection"  />

<button @onclick="GetRemoteChart">GetRemoteChart</button>

<button @onclick="myButton">Fetch</button>
<br />
@chartName<br />
@chartRepo<br />
@chartVersion<br />

<div class="editorContent" style="height: 756px">
    <MonacoDiffEditorYaml @ref="_yamlDiffEditor"
                          Id="monacoDiffEditorYaml"
                          CssClass="editor"  />
</div>